* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Container for all the cards */
.deck {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* Style your cards here */
.card {
    width: 100%;
    border: 2px rgb(78, 143, 216) solid;

}

.card:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    transition: all ease 0.3s;
    transform: scale(1.05);
}